<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Fetch Task</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Fetch Random Dog Image</h1>
    <form action="/dogResults" method="POST">
        <button type="submit">Get Dog Image</button>
    </form>
    <h1>Fetch Random Cat Fact</h1>
    <form action="/catResult" method="get">
        <button type="submit">Get Cat Fact</button>
    </form>
</body>
</html>
